# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node specific
.npm/
.yarn/
.env

# MacOS specific
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# SASS cache
.sass-cache/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
